In [31]:
import geopandas as gp
import csv
import pandas as pd
from shapely.geometry import LineString
import matplotlib.pyplot as plot
import mysql.connector
from shapely.geometry import Polygon, mapping
import datetime

In [32]:
file = "./demographic_NY/census_block_demographic_NY.geojson"  
block_pop = gp.read_file(file)

In [33]:
block_pop.head()

,STATEFP10,GEOID,B02001e1,B02001e2,B02001e3,B02001e4,B02001e5,B02001e6,B03002e12,geometry
0,36,15000US360070121011,607,600,7,0,0,0,0,"MULTIPOLYGON (((-75.89054 42.18697, -75.89920 ..."
1,36,15000US360070121014,954,935,0,0,19,0,0,"MULTIPOLYGON (((-75.87509 42.17416, -75.87541 ..."
2,36,15000US360070121013,1186,1142,44,0,0,0,0,"MULTIPOLYGON (((-75.83838 42.19741, -75.83813 ..."
3,36,15000US360070121024,1074,968,0,0,69,0,23,"MULTIPOLYGON (((-75.85079 42.16052, -75.85114 ..."
4,36,15000US360070121023,823,714,0,0,0,0,0,"MULTIPOLYGON (((-75.87457 42.17416, -75.87338 ..."

In [34]:
#Rename columns
block_pop.rename(columns = {"B02001e6":"hawaiian"}, inplace = True)
block_pop.rename(columns = {"B03002e12":"hispanic_latino"}, inplace = True)
block_pop.rename(columns = {"B02001e5":"asian"}, inplace = True)
block_pop.rename(columns = {"B02001e2":"white"}, inplace = True)
block_pop.rename(columns = {"B02001e3":"black"}, inplace = True)
block_pop.rename(columns = {"B02001e1":"total"}, inplace = True)
block_pop.rename(columns = {"B02001e4":"indian_alaska"}, inplace = True)

#Drop column
#df = df.drop (columns = ['ALAND10'])
block_pop.head()

,STATEFP10,GEOID,total,white,black,indian_alaska,asian,hawaiian,hispanic_latino,geometry
0,36,15000US360070121011,607,600,7,0,0,0,0,"MULTIPOLYGON (((-75.89054 42.18697, -75.89920 ..."
1,36,15000US360070121014,954,935,0,0,19,0,0,"MULTIPOLYGON (((-75.87509 42.17416, -75.87541 ..."
2,36,15000US360070121013,1186,1142,44,0,0,0,0,"MULTIPOLYGON (((-75.83838 42.19741, -75.83813 ..."
3,36,15000US360070121024,1074,968,0,0,69,0,23,"MULTIPOLYGON (((-75.85079 42.16052, -75.85114 ..."
4,36,15000US360070121023,823,714,0,0,0,0,0,"MULTIPOLYGON (((-75.87457 42.17416, -75.87338 ..."

In [35]:
file = "./NY/NY_precinct_boundary_neighbors_full.geojson"  
precincts = gp.read_file(file)

In [36]:
precincts.head()

,id,canonical,type,centerX,centerY,neighbors,geometry
0,36001263,NY Albany 263,ORIGINAL,+42.7272097,-073.7873353,"36001262,36001253,36001247,36001252,36001265,3...","MULTIPOLYGON (((-73.79031 42.72261, -73.79346 ..."
1,36001232,NY Albany 232,ORIGINAL,+42.7295842,-073.7227157,"36001243,36001249,36001343,36001344,36001251,3...","MULTIPOLYGON (((-73.71364 42.72799, -73.71245 ..."
2,36001342,NY Albany 342,ORIGINAL,+42.7348777,-073.7093285,"36001233,36001243,36001340,36001341,36001339,3...","MULTIPOLYGON (((-73.71210 42.73705, -73.71187 ..."
3,36001341,NY Albany 341,ORIGINAL,+42.7355901,-073.7037615,"36001233,36001342,36001339,36001285","MULTIPOLYGON (((-73.70277 42.73421, -73.70336 ..."
4,36001277,NY Albany 277,ORIGINAL,+42.7313271,-073.8385576,"36001275,36001276,36001273","MULTIPOLYGON (((-73.82521 42.72768, -73.82575 ..."

In [37]:
precinct_demographics = precincts[['id', 'geometry']].copy()

#Add type columns
precinct_demographics.insert(1, 'total', 0)
precinct_demographics.insert(2, 'white', 0)
precinct_demographics.insert(3, 'black', 0)
precinct_demographics.insert(4, 'hispanic_latino', 0)
precinct_demographics.insert(5, 'asian', 0)
precinct_demographics.insert(6, 'indian_alaska', 0)
precinct_demographics.insert(7, 'hawaiian', 0)

precinct_demographics.head()

,id,total,white,black,hispanic_latino,asian,indian_alaska,hawaiian,geometry
0,36001263,0,0,0,0,0,0,0,"MULTIPOLYGON (((-73.79031 42.72261, -73.79346 ..."
1,36001232,0,0,0,0,0,0,0,"MULTIPOLYGON (((-73.71364 42.72799, -73.71245 ..."
2,36001342,0,0,0,0,0,0,0,"MULTIPOLYGON (((-73.71210 42.73705, -73.71187 ..."
3,36001341,0,0,0,0,0,0,0,"MULTIPOLYGON (((-73.70277 42.73421, -73.70336 ..."
4,36001277,0,0,0,0,0,0,0,"MULTIPOLYGON (((-73.82521 42.72768, -73.82575 ..."

In [ ]:
for i_block, row_block in block_pop.iterrows():
    if i_block % 1000 == 0:
        print (datetime.datetime.now().strftime("%H:%M:%S"), i_block)
    for i_precinct, row_precinct in precinct_demographics.iterrows():
        if row_precinct.geometry.contains(row_block.geometry):
            precinct_demographics.at[i_precinct, 'total'] += row_block['total']
            precinct_demographics.at[i_precinct, 'white'] += row_block['white']
            precinct_demographics.at[i_precinct, 'black'] += row_block['black']
            precinct_demographics.at[i_precinct, 'hispanic_latino'] += row_block['hispanic_latino']
            precinct_demographics.at[i_precinct, 'asian'] += row_block['asian']
            precinct_demographics.at[i_precinct, 'indian_alaska'] += row_block['indian_alaska']
            precinct_demographics.at[i_precinct, 'hawaiian'] += row_block['hawaiian']
            break

10:59:47 0

In [ ]:
precinct_demographics.to_file("./demographic_NY/precinct_demographic_NY.geojson", driver='GeoJSON')